[user]
       email = necto.ne@gmail.com
       name = Arseniy Zaostrovnykh
[color]
       ui = true
[github]
	user = Necto
	token = e90733a9093647e79d32adfb5bccfc86
[url "git@github.com:"]
     insteadOf = gh:
[push]
	default = matching
[alias]
	lol = log --graph --oneline --decorate
	pandiff = difftool -t pandiff
[difftool "pandiff"]
	cmd = pandiff \"$LOCAL\" \"$REMOTE\"
