[user]
       email = arseniy.zaostrovnykh@sonarsource.com
       name = Arseniy Zaostrovnykh
[color]
       ui = true
[url "git@github.com:"]
     insteadOf = gh:
[push]
	default = matching
[alias]
	lol = log --graph --oneline --decorate
	pandiff = difftool -t pandiff
[difftool "pandiff"]
	cmd = pandiff \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = ec-merge
[mergetool "ec-merge"]
	cmd = ~/config/ec-merge.sh $LOCAL $REMOTE $MERGED $BASE
	trustExitCode = true
