profile office-desk-displays {
    output DP-6 mode 2560x1440@59.951 position 0,0 scale 2
    output DP-7 mode 2560x1440@59.951 position 1280,0 scale 2
    output eDP-1 mode 1920x1200@60.002 position 2560,0 scale 1
}

profile home-desk-work-displays {
    output eDP-1 mode 1920x1200 position 0,0 scale 1
    output DP-5 mode 3440x1440 position 1920,0 scale 1.7
    output DP-4 mode 3440x1440 position 3944,0 scale 1.7
}

profile no-ext-displays {
    output eDP-1 mode 1920x1200@60.002 position 0,0 scale 1
}
