profile no-ext-displays {
    output eDP-1 mode 2256x1504 position 0,0 scale 2
}

profile one-ext-display-home {
    output eDP-1 mode 2256x1504 position 0,0 scale 2
    output DP-2 mode 3440x1440 position 1128,0 scale 1.7
}

profile two-ext-displays-home {
    output eDP-1 mode 2256x1504 position 0,0 scale 2
    output DP-9 mode 3440x1440 position 1128,0 scale 1.7
    output DP-10 mode 3440x1440 position 3151,0 scale 1.7
}

profile two-ext-displays-home-usbc-hdmi {
    output eDP-1 mode 2256x1504 position 0,0 scale 2
    output DP-4 mode 3440x1440 position 1128,0 scale 1.7
    output DP-2 mode 3440x1440 position 3152,0 scale 1.7
}
