profile office-desk-displays {
    output DP-6 mode 2560x1440@59.951 position 0,0 scale 2
    output DP-7 mode 2560x1440@59.951 position 1280,0 scale 2
    output eDP-1 mode 1920x1200@60.002 position 2560,0 scale 1
}

profile no-ext-displays {
    output eDP-1 mode 1920x1200@60.002 position 0,0 scale 1
}
